* .wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
}
.wrapper div{
  background-color: blue;
  overflow: hidden;
}
{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
 
  }
  .containerGrid{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
